@import url(./reset.css);
@import url(./layouts.css);
@import url(./module.css);

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i {
  position: relative;
  outline: 1px solid black;
  color: black;
}
