body {
  min-width: 768px;
  max-width: 960px;
}

body * {
  background-color: hotpink;
}

h3 {
  background-color: white;
}

.container {
  display: grid;
  width: 100%;
}
 .mobile {
  display: none;
 }

 .tablet {
  display:none;
 }

 .content {
   width: 100%;
 }

 .nav {
  width: 960px;
  height: 100px;
 }
 .sub-nav {
   width: 21%;
   height: 600px;
 }

 .feature {
  width: 40%;
  height: 200px;
 }

 .tile {
  width: 20%;
  height: 250px;
  flex: left;
 }

 footer {
  clear: both;
  width: 80%;
  height: 150px;
 }